@import "tailwindcss";

:root {
  --sans: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;
  font: 16px/145% var(--sans);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--sans);
}
